@font-face{
    font-family: 'Lemon Milk';
    src: url(../fonts/LemonMilk.otf);
  }

  @font-face{
    font-family: 'Lemon Milk Bold';
    src: url(../fonts/LemonMilkbold.otf);
  }

   @font-face{
    font-family: 'Source Sans Pro';
    src: url(../fonts/SourceSansPro-Regular.otf);
  }
   @font-face{
    font-family: 'Source Sans Pro Bold';
    src: url(../fonts/SourceSansPro-Black.otf);
  }
  @font-face{
    font-family: 'Source Sans Pro Medium';
    src: url(../fonts/SourceSansPro-Semibold.otf);
  }
  @font-face{
    font-family: 'Source Sans Pro Light';
    src: url(../fonts/SourceSansPro-Light.otf);
  }
*{
    padding: 0;
    margin: 0;
    /*font-family: sans-serif;*/
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color: #25303c;
}
h2{
  font-family: Lemon Milk Bold; 
  font-weight: 400; 
  letter-spacing: 1.5pt;
  color: #25303c;
  border-bottom: 1px solid rgba(255, 27, 27, 0.301);
  padding-bottom: 5px;
 margin-bottom: 15px;
 position: relative;
}
h2::after{
    content: '';
    display:block;
    background-color: salmon;
    position: absolute;
    top: 38px;
    width: 72px;
    height: 4px;
}
.container p{
    font-family: Source Sans Pro;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 1pt;
    color:rgba(37, 48, 60, 0.76);
}

header{
    width: 100%;  
}
.bg{
    background: linear-gradient(rgba(0, 0, 0, 0.158),rgba(0, 0, 0, 0.226)),url(../images/1.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.menu{
 margin-top: -5px;}
nav{
    box-shadow: 1px 2px 55pt rgba(0, 0, 0, 0.258);
    background-color: aquamarine;
    padding: 10px;
    background:#fff;}
nav ul{
   position: relative;
   text-align: right; 
   margin-bottom: 10px;
   margin-top: 10px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    padding: 5px 15px ;
}
nav ul li a{
    color:#000;
    font-family: Source Sans Pro Medium;
    font-weight:500;
    font-size: 12pt;
    transition: 0.3s ease ;
    text-transform: uppercase;
    letter-spacing: 1.5pt;
}
nav ul li a:hover,a:active{
    border-bottom: 1.5pt solid salmon;
    color: salmon;
    padding-bottom: 23px;
}
.logo{
    position: absolute;
}
.logo img{
    position: relative;
    width: 150px;
    filter:saturate(0);
    top:18px;
    left: 50px;
    transition: 0.3s ease;
}
.center{
    position: absolute;
    top: 65%;
    left: 30%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-family: Lemon Milk Bold;   
    text-transform: uppercase;
    outline: 4pt solid rgb(255, 255, 255);padding-left: 25px;
}
.center--main {
    font-size: 72pt;
    font-weight: 400;
    letter-spacing: 1.5pt;
}
.center--sub{
    font-family: Lemon Milk;
    font-size: 16pt;
    margin-top: -15px;
    padding-left: 15px;;
    letter-spacing: 28pt;
    font-weight: 100;
    margin-bottom: 20px;
    
}
.container{
    width: 1200px;
    background-color: rgba(236, 236, 236, 0.295);
    margin: 0 auto;
    padding: 60px 50px;
    margin-bottom: 50px;
    overflow: hidden;
    
}
/* section 2*/
.container-2{
    width: 100vw;
    height: 65vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../images/3.png');
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 50px auto 70px auto;
    
}
.titles-2{
    color: rgb(255, 255, 255);
}
.cont-3{
    font-size:42pt ;
    font-family: 'Lemon Milk Bold';
    font-weight: 400;
    letter-spacing: 1.5pt;
    margin-left: 65px;
}
.button{
    text-decoration: none;
    display: inline-block;
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 18pt;
    text-transform: capitalize;
    margin-top: 50px;
    margin-left: 320px;
    border: 2pt solid rgb(255, 255, 255);
    padding: 10px 40px;
    border-radius: 500px;
    color: white;
}
.button:hover, .button:active{
    background: white;
    color: black;
    
}
/*end*/
.flex{
    display: flex;
}
.us{
    
    grid-template-columns: repeat(1,1fr);

}
.part_1{ 
    width: 50%;
   padding-right: 15px;
}
.part_2{
    width: 500px;
    text-align: right;
    padding-bottom: 30px;;
}
.part_2 img{
    display: inline-block;
    width: 400px;
    outline: 5pt solid #fa8072;
    outline-offset: 15px;
    transition: all 0.3s ease;
    
}
.part_2 img:hover{
    border: 2pt solid salmon;
    outline-offset: 0px;
    transform: scale(0.9);
}
.us{ 
    grid-template-columns: repeat(3,1fr);

}
.main-skill{
    display: inline-block;
    width:26%;
    color: rgba(37, 48, 60, 0.753);

}
.main-skill i{
    font-size: 80pt;
    display: inline-block;
    margin-bottom: 12px;
    color: #25303c;
    transition: all 0.3s ease;
   /* color:rgb(230, 121, 109);*/;
   
    
}
.main-skill i:hover {
transform: scale(1.1);
color:#2c455f

}
.prop{
    text-align: center;
    
}

.prop-desc{
    text-align: center;
    font-family: Lemon Milk;
    font-weight: 100;
    letter-spacing: 4pt;
    margin-bottom: 15px;
    font-size: 8pt;
}

.goals{
    margin-top: 60px;
    margin-top: 60px;
}
.main-skill:not(:last-child){
    margin-right:90px;
}
.main-skill:first-child{
    margin-left: 20px;
}

/*Automoveis*/ 
.logo-index{
    width: 350px;
}
.table-image{
    width: 170px;
    padding: 8px 10px;
    transition: all 0.2s ease;
    
}
.table-image:hover{
    border:2pt solid salmon;
    padding: 5px 7px;
}
.move-logo{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.move-logo{
    border: 4pt solid #cb3725;
    padding: 40px;
    border-radius: 500px;
    transition: all 0.2s ease;
}
.move-logo:active{
   padding: 25px;
}
.move-logo:hover{
    padding: 30px; 
}
.title-5{
    height:180px;
    background: linear-gradient(rgba(0, 0, 0, 0.458),rgba(0, 0, 0, 0.426)),url(../images/4.png);
    background-position: center;
    background-attachment: scroll;
    font-family: 'Lemon Milk bold';
    font-weight: 400;
    letter-spacing:2pt ;
    font-size: 22pt;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-6{
    height:180px;
    background: linear-gradient(rgba(0, 0, 0, 0.458),rgba(0, 0, 0, 0.426)),url(../images/5.png);
    background-position: center;
    background-attachment: local;
    font-family: 'Lemon Milk bold';
    font-weight: 400;
    letter-spacing:2pt ;
    font-size: 22pt;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}
.cont-4{
    display: flex;
    justify-content: center;
}
.cont-4 table{
    width: 90%;
}
tr .a{
    width: 5%;
}
tr td{
    padding: 20px 10px;
}
tr td:first-child{
    background: rgba(131, 131, 131, 0.192);
    text-align: center;
    
}
tr td:first-child{
    font-size:14pt;
    font-family:'Lemon Milk Bold';
    
}
tr:first-child{
   background: rgba(194, 194, 194, 0.096);
}
tr{
    font-family: Source Sans Pro;
    color: #000
}
tr th{
    font-size: 16pt;
    padding: 25px;

}
tr .b{
    width: 40%;
    text-align: center;

}
.cont-4 tr td {
    text-align: center;
}
.desc h5,p {
    text-align: left;
}
.desc h5{
    font-size: 14pt;
    padding-bottom: 10px;
    font-family: 'Source Sans Pro Medium'

}
.desc p{
    font-family: 'Source Sans Pro Light';
    color: rgb(131, 131, 131)
}
.cont-4 tr td img{
    border-radius: 50%;

}
.desc h5:hover{
    color:salmon;
}
/*Contactos*/
form > div{
    display: block;
    padding: 15px;
}
form label{
    font-family: Source Sans Pro;
    font-size: 14pt;
    display: inline-block;
    width: 100px;
    text-transform: capitalize;
}
input[type=text], input[type=email] ,select{
    border: 2px solid rgba(99, 99, 99, 0.212);
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background: transparent;
    font-family: Source Sans Pro;
    font-size: 12pt;
    padding: 10px;
    color: rgb(71, 71, 71);
   
}
input:focus, select:focus,textarea:focus{
    outline: none;
    outline: 2px solid rgba(250, 128, 114, 0.411); 
    
}
input[type=checkbox],select{
    font-family: Source Sans Pro;
    font-size: 12pt;
    
   
}
.move-label{
    margin-left: 15px;
}
.motivo{
    display: block;
    transform: translateX(20%);
}
.motivo > div{
    display: block;
    padding: 10px;
}
.text-area > label{
    display: block;
}
input[type=checkbox]{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

textarea{
    margin-top: 15px;
    font-family: Source Sans Pro;
    font-size: 14pt;
    padding: 10px 30px;
    color: grey;   
    border-radius: 20px;
    background: transparent;
    
}
.submit{
    text-align: center;
    
}
.btn{
    font-size: 14pt;
    padding: 10px 30px ;
    text-transform: capitalize;
    font-family: Source Sans Pro;
    background: #102f4c;
    color: white;
    border-radius: 500px;
    border: 3px solid #102f4c;
    transition: all 0.2s ease ;
}
.btn:hover,.btn:active{
    background: transparent;
    color: #102f4c;
}
.form{
    border: 2px solid rgba(179, 179, 179, 0.267);
    border-radius: 10px;
    padding: 40px;
}


/* Car 1 */

.cont-5{
    display: flex ;
    align-items: center;
    justify-content: center;
}
.car-image{
    flex: 1;
    text-align: center;
    justify-content: center;
}
.car-info{
    flex: 1;
}
.car-image img{
    width: 300px;
    border-radius: 50%;
    border: 3pt solid rgba(37, 48, 60, 0.863);
    padding: 15px;
    transition: all 0.2s ease;

}
.car-image img:hover{
    border: 3pt solid salmon;
}
.car-image::after{
    content: '';
    width: 2px;
    height: 320px;
    display: inline-block;
    background: rgba(37, 48, 60, 0.863);
    transform: translateY(2%);
    margin-left: 25px;
}
.car-info{
    transform: translateX(-10%);
    font-family: Source Sans Pro; 
    color:  rgba(37, 48, 60, 0.863);
    line-height: 1.5;
}
.car-info > h3{
    font-family: Lemon Milk;
    letter-spacing: 1.5pt;
    padding: 5px 0;
    font-size: 14pt;
    color: rgba(44, 58, 73, 0.884)
}
.car-info > h4{
    padding: 5px 0;
    font-family: Lemon Milk;
    font-size: 11pt;
    letter-spacing: 1.3pt;
}
footer{
    width: 100vw;
    background: #2c455f;
    padding: 30px;
    
    color: rgb(255, 255, 255);
    margin: 0 auto;
}
footer p{
    text-align: center;
    font-family: Source Sans Pro Medium;
    font-size: 15pt;
    letter-spacing: 1.5pt;
}
